<section id="projects">
    <div class="container">
        <h3>Projects</h3>
        <div class="panel panel-default">
            <div class="panel-body">

                <h5>
                    <i class="fa fa-globe"></i>&nbsp;&nbsp;
                    <strong><a href="https://drive.google.com/file/d/1O9GuGRg9Y3riB_6E9o5Fv52InXp6q0yR/view"
                               target="_blank">Wallpapers (MVP)</a></strong><br/>
                    I designed & developed the app from scratch as a prototype. It fetches wallpapers from firebase
                    backend. The
                    idea was to
                    make something gorgeous and simple to use. It is very much inspired by google's wallpaper app. It
                    efficiently downloads and caches of images using Glide Module, it downloads lower quality images
                    first to
                    show a quick preview and then slowly downloads HD images in the background.

                    It is not available on Play Store but you can download the APK <strong>
                    <a href="https://drive.google.com/file/d/1O9GuGRg9Y3riB_6E9o5Fv52InXp6q0yR/view"
                       target="_blank">here</a></strong>.
                    <br/><br/>

                    Technologies used:<br/>
                    &emsp;&#9679; Kotlin<br/>
                    &emsp;&#9679; Android Architecture Components<br/>
                    &emsp;&#9679; MVVM<br/>
                    &emsp;&#9679; Koin<br/>
                    &emsp;&#9679; Firestore<br/>
                    &emsp;&#9679; Glide<br/>
                </h5>

                <h5>
                    <!--			<i class="fa fa-globe"></i>&nbsp;&nbsp;-->
                    <strong><a href="#">DEG: App for a Private Tech Event Attendees</a></strong><br/>
                    This app was kind of private social network for event attendees, where they can communicate with
                    each other,
                    book different sessions in the event, etc.
                    I took over the development when the app was about 50% complete and added a few features and
                    provided
                    support and completed the app.
                    Few things I worked on:
                    Added real-time chat using Quickblox
                    Used Retrofit to fetch and cache data from a private server.
                    Designed complex screen for multiple screens sizes
                    Built feature-rich image gallery using libraries like Glide & PhotoView.
                    <br/><br/>

                    Technologies used:<br/>
                    &emsp;&#9679; Java<br/>
                    &emsp;&#9679; Retrofit<br/>
                    &emsp;&#9679; QuickBlox<br/>
                    &emsp;&#9679; Firebase Push notifications<br/>
                    &emsp;&#9679; ExoPlayer<br/>
                    &emsp;&#9679; EventBus<br/>
                    &emsp;&#9679; Glide<br/>
                </h5>

                <h5>
                    <i class="fa fa-globe"></i>&nbsp;&nbsp;
                    <strong><a href="https://play.google.com/store/apps/details?id=com.tpvapps.simpledrumspro"
                               target="_blank">Simple Drums Pro</a></strong><br/>
                    I created this app from scratch, a feature-rich, currently one of the top drumming apps on Play
                    Store with
                    millions of downloads. It has features like recording your drum play, background loops, etc.
                    It utilizes Android Audio APIs & libraries like SoundPool, MediaPlayer. <br/>
                    I was in charge of the whole application lifecycle like development, maintenance, and
                    deployment.<br/><br/>

                    Technologies used:<br/>
                    &emsp;&#9679; Java<br/>
                    &emsp;&#9679; Realm<br/>
                    &emsp;&#9679; Dagger2<br/>
                    &emsp;&#9679; Google Play Billing<br/>
                    &emsp;&#9679; Android Audio APIs<br/>
                </h5>

                <h5>
                    <i class="fa fa-globe"></i>&nbsp;&nbsp;
                    <strong><a href="https://play.google.com/store/apps/details?id=net.p4p.sevenmin.free"
                               target="_blank">7 Minute Workout</a></strong><br/>
                    My role was to provide bug fixes, support, maintenance and development of new features
                    and in-app purchases. <br/><br/>

                    Technologies I used:<br/>
                    &emsp;&#9679; Java<br/>
                    &emsp;&#9679; Firebase<br/>
                    &emsp;&#9679; Retrofit<br/>
                    &emsp;&#9679; RxJava2<br/>
                    &emsp;&#9679; Google Play Billing<br/>
                </h5>

                <h5>
                    <i class="fa fa-globe"></i>&nbsp;&nbsp;
                    <strong><a href="https://play.google.com/store/apps/details?id=com.abdaar"
                               target="_blank">Abdaar - Food, Groceries & Medicine Delivery</a></strong><br/>
                    My role was to provide bug fixes, support, maintenance and development of new features.<br/><br/>

                    Technologies I used:<br/>
                    &emsp;&#9679; Java<br/>
                    &emsp;&#9679; Firebase Push notifications<br/>
                    &emsp;&#9679; Google Maps<br/>
                </h5>

                <h5>
                    <i class="fa fa-globe"></i>&nbsp;&nbsp;
                    <strong><a href="https://play.google.com/store/apps/dev?id=6321038402673563833"
                               target="_blank">Open Educational Forum</a></strong><br/>
                    built these educational apps on the account while as an intern. They help students of all grades
                    with past papers and their solutions.
                    All of these apps are created by me from scratch. I was also responsible for publishing the apps on
                    the Play Store and managing the PlayStore account.
                    <br/><br/>

                    Technologies used:<br/>
                    &emsp;&#9679; Java<br/>
                    &emsp;&#9679; Retrofit<br/>
                    &emsp;&#9679; EventBus<br/>
                    &emsp;&#9679; Glide<br/>
                    &emsp;&#9679; RxJava2<br/>
                </h5>


            </div>
        </div>
    </div>
</section>
